extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to provide details 
  else
    - let costumeid = toShow._id 
    - let costume_type = toShow.costume_type 
    - let costumecost = toShow.cost 
    - let costumesize = toShow.size 
    div 
      div.row 
        div(class='costumeAttr mr-8') Costume ID is: #{costumeid}
      <br/>
      div.row 
        div(class='costumeAttr mr-3') Costume Type is:#{costume_type} 
      <br/>
      div.row 
        div(class='costumeAttr mr-3') Costume Size is:#{costumesize} 
      <br/>
      div.row 
        div(class='costumeAttr mr-3') Costume Cost is: #{costumecost}